body {
  background-color: #41228e;
}

/* Head portion of the title */
.head {
  height: 20.2vh;
}

body {
  height: 100vh;
}

/* nav bar */
#title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 9rem;
  font-family: 'PF Regal Swash Pro', sans-serif;
  font-size: 72px;
}

/* Images layout on the page */
.layer {
  position: absolute;
  z-index: 1;
}

/* Each img has own desginated section */
#l1 {
  top: 0.8rem;
  right: 0.2rem;
}

#l2 {
  top: 0.8rem;
  left: 0.2rem;
}

#l3 {
  top: 0rem;
  left: 19rem;
}

#l4>img {
  height: 1vh;
  max-width: 100%;
}

#l4 {
  top: 5.7rem;
  right: 29%;
}

#l5 {
  left: 11rem;
  position: absolute;
  top: 12rem;
}

img {
  height: 16vh;
  max-width: 100%;
}


/* div with heres how it works and description and search button */
.main-info-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  background-color: #41228e;
  height: 100vh;
}

/* heres how it works section */
h2 {
  font-size: 48px;
  color: white;
}

/* text below heres how it works */
.description-text {
  display: flex;
  color: white;
  line-height: 2;
  margin: 10px;
  padding: 5vh 18vh;
  z-index: 2;
}

/* .display-movie-div { */
#movie-info {
  display: flex;
  justify-content: center;
  padding: 100px;
  background-color: white;
}

.movie-div {
  display: flex;
  padding: 10px;
  width: 20%;
  flex-direction: column;
  align-items: center;
}

li {
  margin: 0.3rem;
}

@media screen and (max-width: 996px) {
  .description-text {
    padding: 28px;
    margin: 26px;
  }

  #l5 {
    left: 4rem;
  }
}

@media screen and (max-width: 811px) {
  #l3 {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
    background-color: white;
  }


  .movie-div {
    flex-basis: calc(20% - 10px);
    /* Adjust the percentage as needed */
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3,
  p {
    margin: 0;
    text-align: center;
  }

  .more-info-btn {
    padding: 2px;
    color: white;
    background-color: #41228e;
    height: 45px;

  }
}

@media screen and (max-width: 596px) {
  h2 {
    font-size: 43px;
  }

  .description-text {
    padding: 18px;
    margin: 24px;
  }

  .columns:not(:last-child) {
    flex-direction: column;
  }
}

.more-info-btn:hover {
  cursor: pointer;
}

.dropdown-content {
  background-color: #41228e;
}

.movie-div > p {
  margin-left: 100px;
  margin-right: 100px;
}